<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>{Titulo}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="font-family: sans-serif">
        <div >
            <center>
                <table width="600px">
                    <tr>
                        <td colspan="4"><center><img src="http://i.imgur.com/HKRHAxY.png?1" width="200" alt="img"></center></td>                 
                    </tr>
                    <tr>
                        <td colspan="4" style="background-color: royalblue"><center>{descripcion proceso}</center></td>
                    </tr>
                    <tr>
                        <td colspan="1">Descripci&oacute;n:</td><td colspan="3">{Descripcion}</td>
                    </tr>
                </table>
            </center>
            
        </div>
    </body>
</html>
